.container{
    margin: auto;
    max-width: 550px;
    max-height: 350px;
    border: 5px solid black;

}
h2{
    text-align: center;

}
img{
    margin-left:10px ;
    width: 175px;
    height:175px;
    border:1px solid black;
}
#details{
    margin-left:10px ;
}
#details_image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

